.icon-container {
    position: relative;
  }

.status-circle {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
  }